.header {
  background-color: rgb(47, 47, 47);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logoutBtn {
  background-color: blue;
  color: #fff;
  border: 0px none;
  height: 30px;
  width: 70px;
}

.navBtns {
  margin-right: 20px;
  display: flex;
  color: #fff;
  text-decoration: none;
  list-style: none;
}
